# Python
__pycache__/
*.py[cod]
*.egg-info/
.env
venv/
.venv/

# Model weights
*.pt
*.bin
*.safetensors
*.ckpt

# Data
data/raw/*.zip

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
